# Errors get logged to /var/log/cfn-init.log. See Also /var/log/eb-tools.log 

commands:
    01-command:
        command: wget -O/etc/yum.repos.d/couchbase.repo http://packages.couchbase.com/rpm/couchbase-centos55-x86_64.repo
 
#    02-command:
#        command: yum check-update

    02-command:
        command: yum install -y git 

    03-command:
        command: yum install -y --enablerepo=epel libev

    04-command:
        command: yum install -y cmake
 
    05-command:
        command: git clone git://github.com/couchbase/libcouchbase.git
        cwd: /home/ec2-user

#    06-command:
#        command: cd libcouchbase

    08-command:
        command: mkdir build
        cwd: /home/ec2-user/libcouchbase

    09-command:
        command: ../cmake/configure
        env: 
            CMAKE_CXX_COMPILER: gcc
        cwd: /home/ec2-user/libcouchbase/build

#    08-command:
#        command: cd build

#    09-command:
#        command: ../cmake/configure

    10-command:
        command: make
        env: 
            CMAKE_CXX_COMPILER: gcc
        cwd: /home/ec2-user/libcouchbase/build

    11-command:
        command: ctest
        cwd: /home/ec2-user/libcouchbase/build

    12-command:
        command: pip install couchbase-centos55-x86_64